body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #37ecf2;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.home {
    background: url('banner.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content {
    background: rgba(33, 209, 42, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.about, .projects, .contact {
    padding: 40px 20px;
}

.about h2, .projects h2, .contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #37ecf2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
 